/* Load Custom Font  */
* {
    font-family: 'Roboto', sans-serif;
}

/* Style of header*/
nav ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

nav li {
    font-size: 35px;
    display: table-cell;
    width: 450px;
    text-align: center;
}

nav {
    width: 100%;
    min-width: 1920px;
}

header {
    min-height: 400px;
    max-height: 400px;
    font-size: larger;
    background: url(../images/header2.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-width: 1920px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 11.5;
}

#index,
#search,
#register,
#announcements {
    padding: 1px;
    border: 1px solid transparent;
}

#index:hover,
#search:hover,
#register:hover,
#announcements:hover {
    background-color: #704241;
    padding: 1px;
    color: #efdecd;
}

.logo-image {
    background: none;
    vertical-align: middle;
    width: 220px;
    min-width: 220px;
    transition: filter  0.1s;
    border-radius: 50%;
}

.logo-image:hover {
    filter: contrast(200%) drop-shadow(16px 16px 20px #241616);
}

a {
    text-decoration-line: none;
    color: #fdf5e6;
    font-weight: bolder;
}

a:active {
    color: #703642;
}

#user-login-button,
.login-button,
#submit-button,
#search-button,
#register-company-button {
    width: 170px;
    height: 60px;
    background: #986960 no-repeat;
    border: 0;
    border-radius: 56px;
    color: #fdf5e6;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600px;
    outline: 0;
    position: sticky;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

#user-login-button:before,
.login-button:before,
#search-button:before,
#submit-button:before,
#register-company-button:before,
#new-announcement:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

#new-announcement:hover,
#user-login-button:hover,
.login-button:hover,
#search-button:hover,
#submit-button:hover,
#register-company-button:hover{
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}


@media (min-width: 768px) {

    #user-login-button,
    .login-button:hover,
    #search-button:hover,
    #submit-button:hover,
    #register-company-button:hover,
    #new-announcement:hover {
        background-color: #79443b;
        text-shadow: burlywood;
    }
}

body {
    background: #efdecd;
    color: black;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
}

/* Search Styling */
#search-container {
    border: none;
}

#filters-title,
#results-title {
    padding-left: 50px;
    font-weight: bolder;
}

.green-row {
    background-color: rgb(145, 205, 145);
}

#filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 0px;
    min-width: 86%;
    max-width: 86%;
}

#filters label {
    text-align: right;
    margin-right: 20px;
    font-weight: bolder;
}

#filters select,
#search-button {
    padding-left: 10px;
    min-width: 300px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 20px;
    margin-right: 20px;
}

#search-button {
    border-radius: 5px;
    border: none;
    background-color: #986960;
    color: white;
    cursor: pointer;
    font-weight: 500;
    margin-left: auto;
}

#prefecture:hover,
#fuel-type:hover {
    cursor: pointer;
    text-decoration: none;
}

#search-container {
    padding-left: 0;
    margin-left: 0;
}

#search-button {
    width: 190px;
}

#results {
    padding: 0px;
    overflow: hidden;
    padding-right: 0;
    margin-right: 0;
}

#results-table {
    margin-left: 50px;
    height: auto;
    min-width: 85%;
    max-width: 85%;
    display: inline-table;
    overflow: hidden;
    margin-bottom: 150px;
}

.address {
    color: maroon;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.address:hover {
    color: #986960;
    text-decoration: underline #79443b;
}

#results-table-header {
    background-color: #79443b;
    color: #ddd;
    font-size: 22px;
}

#results td {
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

#results-body tr {
    height: 50px;
}
/* End of Filters Styling */

/* Index page styling*/
#no-prices {
    color: red;
    font-style: italic;
}

#prices,
#announcements-list {
    padding-left: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    border: 1px solid #54252e;
    border-radius: 4px;
    max-width: 1500px;
}

#announcements-list1:hover {
    color: #643039;
    transition: 0.2s;
}

#announcements-list1 {
    margin-bottom: unset;
}

#img-announcements1 {
    width: 300px;
    vertical-align: middle;
}

#anouncement-source {
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
}

#anouncement-source a {
    color:#54252e;
    text-decoration: underline;
    font-weight: bold;
}

#anouncement-source a:hover {
    color: #240209;
}

#announcement-text-source {
    display: flex;
    flex-direction: column;
}

#announcement-index-div {
    align-self: flex-start;
}

#anouncement-source {
    align-self: flex-end;
    padding-right: 7%;
}

hr {
    height: 1px;
    background-color: 54252e;
    border: none;
}
/* End of index page styling */

/*Offer Registration, Registration, Login styling*/


q {
    quotes: none;
    font-style: italic;
    color: #703642;
}

#register-offer,
#register-business {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#form-offer-registration label,
#register-company label,
q {
    float: left;
    text-align: left;
    display: block;
    width: 500px;
    clear: left;
    margin: 10px 50px;
    font-weight: bold;
    font-size: 19px;
}

#register-company q {
    margin-bottom: 100px;
    margin-top: 10px;

}

#form-offer-registration input,
#form-offer-registration select,
#register-company input,
#register-company select {
    vertical-align: middle;
    min-width: 400px;
    padding: unset;
    margin: unset;
    width: 250px;
    height: 50px;
    margin: 10px;
    display: flow-root;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
}

#register-company select,
#form-offer-registration select {
    border: 1px solid;
    width: 403.8px;
    height: 62px;
}

#new-register:hover {
    color: #986960;
}

#register-company select,
#register-company input{
    margin-bottom: 10px; 
}

#register-company input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: table-row;
}


/*End of Offer Registration, Registration, Login styling*/

/* Announcements styling */
#new-announcement{
    background: #986960 no-repeat;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#announcements-id {
    padding-left: 50px;
}

#announcements-section {
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 150px;
    border: 1px solid #54252e;
    border-radius: 4px;
    max-width: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 18pt;
    height: 800px;
}

#announcement1-div {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #54252e;
    border-radius: 4px;
    max-width: 80%;
    height: 300px;
}

#announcement-index-div {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #54252e;
    border-radius: 4px;
    width: 91%;
    height: 300px;
}

#user-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

#announcements-id {
    margin-right: 20px;
}

#new-announcement {
    padding: 10px;
}

.announcement {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.announcement button {
    margin-left: 1%;
}

/* End of Announcements Styling */

/* Login Styling */
#login-form {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#form-item {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}

#login-form label {
    float: start;
    display: block;
    width: 400px;
    clear: left;
    font-weight: bold;
    font-size: 19px;
}

#login-form input {
    text-align: center;
    min-width: 400px;
    padding: unset;
    margin: unset;
    height: 50px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

#new-register {
    color: #703642;
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    text-align: inherit;
}

#user-login-button {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

#user-login {
    float: left;
}

/*End of Login Styling */


/* Footer Styling */
#nav-footer ul {
    display: table;
    margin: 0 auto;
}

#nav-footer li {
    text-align: center;
    width: 1300px;
}

footer {
    background-image: url(../images/footer.jpg);
    background-position: bottom;
    background-size: cover;
    position: sticky;
    top: 100%;
    line-height: 200px;
    width: 100%;
    min-width: 1920px;
    margin-bottom: 0;
    min-height: 200px;
    max-height: 200px;
    font-size: larger;
    width: 100%;
    min-width: 1920px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#terms:hover,
#policy:hover {
    background-color: #704241;
    padding: 5px;
    color: #efdecd;
}

/* End of Footer Styling */

#welcome-user {
    color: #54252e;
    margin-left: 50px;
    margin-right: 0px;
}

/* Popup form styling */
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 540px; 
    overflow: auto; /* Scrollbar appears when needed */
}

.popup .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #986960;
    border-radius: 4%;
    border-color: black;
    position: relative;
}

.popup .content #content {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 330px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; /* Allow resizing of the popup content, only vertically*/
}

.popup .content label {
    display: block;
    margin-bottom: 10px;
}

.popup .content input[type="date"],
.popup .content input[type="text"],
.popup .content textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 330px;
    box-sizing: border-box;
    font-size: 16px;
}

.popup .content button {
    padding: 10px;
    background-color: #703642;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.popup .content #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
}

.popup .content button:hover,
.popup .content #close-btn:hover {
    background-color: #54252e;
}

#div-btn{
    margin-top: 20px;
    text-align: center;
}


  
  