/* Load Custom Font  */
* {
    font-family: 'Roboto', sans-serif;
}

/* Style of header*/
nav ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

nav li {
    font-size: 35px;
    display: table-cell;
    width: 450px;
    text-align: center;
}

nav {
    width: 100%;
    min-width: 1920px;
}

header {
    min-height: 400px;
    max-height: 400px;
    font-size: larger;
    background: url(../images/header2.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-width: 1920px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 11.5;
}

#index,
#search,
#register,
#announcements {
    padding: 1px;
    border: 1px solid transparent;
}

#index:hover,
#search:hover,
#register:hover,
#announcements:hover {
    /* text-decoration: underline overline #79443b 4px solid;
    text-underline-offset: 10px; */
    /* color: #703642;
    background-color: #cca987;
    padding-top: 5px;
    padding-bottom: 5px; */
    /* border:6px solid #cca987; */
    background-color: #704241;
    padding: 1px;
    color: #efdecd;
    /*transition:  .2s; /*slow transition of background color change*/
}

.logo-image {
    background: none;
    vertical-align: middle;
    /* border-bottom: none;  min-width: 20%; margin:0px;
    white-space: nowrap; */
    /* padding-left: 20px;
    padding-top: 15px; */
    width: 220px;
    min-width: 220px;
}

.logo-image:hover {
    animation: wiggle 3s linear;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

a {
    text-decoration-line: none;
    color: #fdf5e6;
    font-weight: bolder;
}

a:active {
    color: #703642;
}

#user-login-button,
.login-button,
#submit-button,
#search-button,
#register-button,
#register-company input[type=submit],
#register-company button[type=submit] {
    /* background-image: url("data:image/svg+xml,%3csvg width='50==100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='71' ry='71' stroke='%23EC3463' stroke-width='10' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='74' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 30px; */
    width: 170px;
    height: 60px;
    background: #986960 no-repeat;
    border: 0;
    border-radius: 56px;
    color: #fdf5e6;
    cursor: pointer;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: 600px;
    outline: 0;
    position: sticky;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

#user-login-button:before,
.login-button:before,
#search-button:before,
#submit-button:before,
#register-button:before,
#register-company input[type=submit]:before,
#register-company button[type=submit]:before,
#new-announcement:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

#new-announcement:hover,
#user-login-button:hover,
.login-button:hover,
#search-button:hover,
#submit-button:hover,
#register-button:hover,
#register-company input[type=submit]:hover,
#register-company button[type=submit]:hover {
    /* color: black;
    background-image: none;
    background-color: #b31242; */
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}


@media (min-width: 768px) {

    #user-login-button,
    .login-button:hover,
    #search-button:hover,
    #submit-button,
    #register-company input[type=submit]:hover,
    #register-company button[type=submit]:hover,
    #new-announcement:hover {
        background-color: #79443b;
        text-shadow: burlywood;
    }
}

body {
    background: #efdecd;
    /* background-position: center;
    background-size: cover; */
    color: black;
    margin: 0 auto;
    padding: 0;
    /* min-height: calc(100vh-211px-172px); */
    min-height: 100vh;
}

/* Search Styling */
#search-container {
    border: none;
}

#filters-title,
#results-title {
    padding-left: 50px;
    font-weight: bolder;
}

.green-row {
    background-color: rgb(145, 205, 145);
}

/* #filters{
  display: table;
  flex-flow: row wrap;
  align-items: center;
  font-size: 25px;
  min-width: 1920px;
  overflow: hidden;
}

#filters label{
    margin: 5px 10px 5px 0;
    margin-left: 50px;
    font-weight: bolder;
    overflow: hidden;
}

#prefecture, #fuel-type{
  vertical-align: middle;
  margin: 5px 10px 5px 37px;
  padding: 20px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 20px;
  margin-right: 174px;
  min-width: 600px;
  overflow: hidden;
  text-align: center;
}

#filters button {
    margin-left: 100px;
    border: 1px solid #ddd;
    color: white;
  } */

#filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 0px;
}

#filters label {
    text-align: right;
    margin-right: 0px;
    font-weight: bolder;
}

#filters select {
    padding-left: 10px;
    min-width: 300px;
    min-height: 50px;
    margin-right: 400px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 20px;
}

#search-button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #986960;
    color: white;
    cursor: pointer;
    margin-right: 160px;
    font-family: Roboto, Ubuntu;
    font-weight: 500;
}

#prefecture:hover,
#fuel-type:hover {
    cursor: pointer;
    text-decoration: none;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
/* @media (max-width: 800px) {
    #filters select {
      margin: 10px 0;
    }
  
    #filters {
      float: unset;
      flex-direction: row;

    }
  }  */

#search-container {
    padding-left: 0;
    margin-left: 0;
}

#search-button {
    width: 200px;
}

#results {
    padding: 0px;
    min-width: 1920px;
    overflow: hidden;
    padding-right: 0;
    margin-right: 0;
}

#results-table {
    margin-left: 50px;
    height: auto;
    min-width: 90%;
    display: inline-table;
    overflow: auto;
    margin-bottom: 50px;
}

.address {
    color: maroon;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.address:hover {
    color: #986960;
    text-decoration: underline #79443b;
}

#results-table-header {
    background-color: #79443b;
    color: #ddd;
    font-size: 22px;
}

#results td {
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

#results-body tr {
    height: 50px;
}
/* End of Filters Styling */

/* Index page styling*/
#no-prices {
    color: red;
    font-style: italic;
}

#prices,
#announcements-list {
    padding-left: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 1px solid #54252e;
    border-radius: 4px;
    max-width: 1500px;
}

#announcements-list1:hover {
    color: #643039;
    transition: 0.2s;
}

#img-announcements1 {
    width: 300px;
    vertical-align: middle;
}

#anouncement-source {
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
}

#anouncement-source a {
    color:#54252e;
    text-decoration: underline;
    font-weight: bold;
}

#anouncement-source a:hover {
    color: #240209;
}

#announcement-text-source {
    display: flex;
    flex-direction: column;
}

#announcement-index-div {
    align-self: flex-start;
}

#anouncement-source {
    align-self: flex-end;
    padding-right: 7%;
}

hr {
    height: 1px;
    background-color: 54252e;
    border: none;
}
/* End of index page styling */

/*Offer Registration, Registration, Login styling*/
#new-announcement,
#register-company input[type=submit],
#register-company button[type=submit] {
    background: #986960 no-repeat;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

q {
    quotes: none;
    font-style: italic;
    color: #703642;
}

#register-offer,
#register-business {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#form-offer-registration label,
#register-company label,
q {
    float: left;
    text-align: left;
    display: block;
    width: 500px;
    clear: left;
    margin: 10px 50px;
    font-weight: bold;
    font-size: 19px;
}

#form-offer-registration input,
#form-offer-registration select,
#register-company input,
#register-company select,
#register-company option {
    vertical-align: middle;
    min-width: 400px;
    padding: unset;
    margin: unset;
    width: 250px;
    height: 50px;
    margin: 10px;
    display: flow-root;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
}

#form-offer-registration button,
#register-company button {
    width: 230px;
    margin-left: 77px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#register-company select,
#form-offer-registration select {
    border: 1px solid;
    width: 403.8px;
    height: 62px;
}

#new-register:hover {
    color: #986960;
}


/*End of Offer Registration, Registration, Login styling*/

/* Announcements styling */

#announcements-id {
    padding-left: 50px;
}

#announcements-section {
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 1px solid #54252e;
    border-radius: 4px;
    max-width: 2000px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 18pt;
    height: 800px;
}

#announcement1-div {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #54252e;
    border-radius: 4px;
    max-width: 1800px;
    height: 300px;
}

#announcement-index-div {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #54252e;
    border-radius: 4px;
    width: 91%;
    height: 300px;
}

#user-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

#announcements-id {
    margin-right: 20px;
}

#new-announcement {
    padding: 10px;
}

.announcement {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.announcement button {
    margin-left: 1%;
}

/* End of Announcements Styling */

/* Login Styling */
#login-form {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#form-item {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}

#login-form label {
    float: start;
    display: block;
    width: 400px;
    clear: left;
    font-weight: bold;
    font-size: 19px;
}

#login-form input {
    text-align: center;
    min-width: 400px;
    padding: unset;
    margin: unset;
    height: 50px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

#new-register {
    color: #703642;
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    text-align: inherit;
}

#user-login-button {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

#user-login {
    float: left;
}

/*End of Login Styling */


/* Footer Styling */
#nav-footer ul {
    display: table;
    margin: 0 auto;
}

#nav-footer li {
    text-align: center;
    width: 1300px;
}

footer {
    /*background-image: url(https://img.freepik.com/free-vector/watercolor-abstract-background-with-grunge-effect_1340-4242.jpg?w=826&t=st=16 
    73207962~exp=1673208562~hmac=99ff108d275ceb603b1127e9e01c1ce19c6a9d7653a8ddf070cdc71e190d2066);*/
    /*background-image: url(https://cdnb.artstation.com/p/assets/images/images/055/695/539/large/max-hay-render-november-3rd-2022-edit-01.jpg?1667535905);*/
    /* background-image: url(/images/164163-leaf-brown-amber-branch-wood-3840x2160.jpg); */
    background-image: url(../images/footer.jpg);
    background-position: bottom;
    background-size: cover;
    position: sticky;
    top: 100%;
    line-height: 200px;
    width: 100%;
    min-width: 1920px;
    margin-bottom: 0;
    min-height: 200px;
    max-height: 200px;
    font-size: larger;
    width: 100%;
    min-width: 1920px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#terms:hover,
#policy:hover {
    /* text-decoration: underline overline #79443b 4px solid;
    text-underline-offset: 10px; */
    background-color: #704241;
    padding: 5px;
    color: #efdecd;
}

/* End of Footer Styling */

#welcome-user {
    color: #54252e;
    margin-left: 50px;
    margin-right: 0px;
}

/* Popup form styling */
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 540px; /* Set a maximum height */
    overflow: auto; /* Scrollbar appears when needed */
}

.popup .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #986960;
    border-radius: 4%;
    border-color: black;
    position: relative;
}

.popup .content #content {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 330px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; /* Allow resizing of the popup content, only vertically*/
}

.popup .content label {
    display: block;
    margin-bottom: 10px;
}

.popup .content input[type="date"],
.popup .content input[type="text"],
.popup .content textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 330px;
    box-sizing: border-box;
    font-size: 16px;
}

.popup .content button {
    padding: 10px;
    background-color: #703642;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.popup .content #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
}

.popup .content button:hover,
.popup .content #close-btn:hover {
    background-color: #54252e;
}

#div-btn{
    margin-top: 20px;
    text-align: center;
}

